[Unit]
Description=story_bot for deploy

[Service]
Type=simple
ExecStart=/home/student/Kudesniki_review_api/venv/bin/python3 /home/student/Kolyasik_Stories_Bot/bot.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target